<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>NSImperialism (Alpha)</title>
  <link rel="stylesheet" href="/assets/uswds-2.10.0/css/usdws.css" />
  <link rel="stylesheet" href="/assets/stylesheets/style.css?ver=2" />
</head>

<body class="usa-section--dark">
  <main>
    <header class="usa-header">
      <h1><a href="/">NSImperialism (Alpha)</a></h1>
      <p>The server may reset the state of the game at any time.</p>
    </header>

    <body>
      <h2>Map</h2>
      <div>Year: {{ .Grid.Year }}</div>

      <div class="map-container">
        <img class="map-political" src="/assets/images/map_political.png">
        <img class="map-geographic" src="/assets/images/map.png">

        {{ range .Map.Territories }}
        <div class="floating-text" style="top: {{ .TopPercent }}%; left: {{ .LeftPercent }}%;">{{ .Text }}</div>
        {{ end }}
      </div>

      <form action="/tick" method="POST">
        <button type="submit" class="usa-button">Proceed To Next Year</button>
      </form>
      <h2>Colonize</h2>
      <form action="/colonize" method="POST">
        <label for="colonizer">Colonizer:</label>
        <input type="text" id="colonizer" name="colonizer" placeholder="Enter a nation name"
          required="required"><br><br>
        <label for="target">Target:</label>
        <input type="text" id="target" name="target" placeholder="e.g. A1" required="required" maxlength="2"
          pattern="[A-R]"><br><br>
        <button type="submit" class="usa-button">Claim</button>
      </form>
      <h2>Conquer</h2>
      <form action="/war" method="POST">
        <label for="attacker">Attacker:</label>
        <input type="text" id="attacker" name="attacker" placeholder="Enter a nation name" required="required"><br><br>
        <label for="target">Target:</label>
        <input type="text" id="target" name="target" placeholder="e.g. A1" required="required" maxlength="2"
          pattern="[A-Z][1-4]"><br><br>
        <button type="submit" class="usa-button">Start War</button>
      </form>
      {{ if .Wars }}
      <h2>Wars</h2>
      {{ range .Wars }}
      <h3>{{ .Name }}</h3>
      <dl>
        <dt>Attacker</dt>
        <dd>{{ .Attacker.FlagAndName }}</dd>
        <dt>Defender</dt>
        <dd>{{.Defender.FlagAndName }}</dd>
        {{ if .IsOngoing }}
        <dt>Warscore</dt>
        <dd>{{ .ScoreDescription }}</dd>
        <dd>{{ .ScorePerYearDescription }}</dd>
        {{ else }}
        <dt>Winner</dt>
        <dd>{{ .Advantage.FlagAndName }}</dd>
        {{ end }}
      </dl>
      {{ end }}
      {{ end }}
      <h2>View a Nation's Statistics</h2>
      <div>
        <form action="/search" method="GET">
          <input autofocus class="usa-search" value="{{ .Query }}" placeholder="Enter a nation name" type="search"
            name="q" required="required" />
          <button type="submit" class="usa-button">Submit</button>
        </form>
      </div>
      {{ if .Nation }}
      <h2><img src="{{ .Nation.FlagURL }}" height="50" /><a href="{{ .Nation.GetURL }}">{{.Nation.Name }}</a></h2>
      <div>Defense Forces: Top {{.Nation.GetDefenseForces }}% in the world</div>
      {{ end }}
    </body>
    <footer class="usa-footer">
      <a href="https://github.com/brickman1444/NSImperialism" class="usa-link--external">View on GitHub</a>
    </footer>
  </main>
</body>

</html>