<main>  
    <h2>Map: {{ .Map.Name }}</h2>
    <div>Year: {{ .Year }}</div>
  
    <div class="map-container">
      <img class="map-political" src="/assets/images/map_political.png">
      <img class="map-geographic" src="/assets/images/map.jpg">
  
      {{ range .Map.Territories }}
      <div class="floating-text" style="top: {{ .TopPercent }}%; left: {{ .LeftPercent }}%;">{{ .Text }}</div>
      {{ end }}
    </div>
  
    <form action="/tick/{{ .MapID }}" method="POST">
      <button type="submit" class="usa-button">Proceed To Next Year</button>
    </form>
    {{ if .LoggedInNation }}
    <h2>Declare War</h2>
    <form action="/war/{{ .MapID }}" method="POST">
      <label for="target">Target:</label>
      <select name="target" id="target" required="required">
        {{ range .WarTargets }}
        <option value="{{ .ID }}">{{ .Name }}</option>
        {{ end }}
      </select><br>
      <label for="occasion">Occasion for War:</label>
      <select name="occasion" id="occasion" required="required">
        <option value="Conquest of">Conquest</option>
        <option value="Holy War for">Holy War</option>
        <option value="Liberation of">Liberation</option>
        <option value="Reconquest of">Reconquest</option>
      </select><br><br>
      <button type="submit" class="usa-button">Start War</button>
    </form>
    {{ end }}
    {{ if .Wars }}
    <h2>Ongoing Wars</h2>
    {{ range .Wars }}
    {{ if .IsOngoing }}
    <h3>{{ .Name }}</h3>
    <dl>
      <dt>Attacker</dt>
      <dd>{{ .Attacker }}</dd>
      <dt>Defender</dt>
      <dd>{{.Defender }}</dd>
      <dt>Warscore</dt>
      <dd>{{ .ScoreDescription }}</dd>
    </dl>
    {{ end }}
    {{ end }}
    {{ end }}
  </main>