@charset "UTF-8";

.under-attack {
    background-color:red;
    color:red;
}

.favorable {
    font-weight: bold;
    color:#73b3e7;
}

.unfavorable {
    font-weight: bold;
    color:#e41d3d;
}

.flag-thumb {
    max-height:13px;
    max-width:20px;
}

.map-container {
  position: relative;
  color: white;
  object-fit: cover;
}

.floating-text {
    position: absolute;
    text-align: center;
    top: 46%;
    left: 39%;
    transform: translate( -50%, -50% ); /* this part centers the text on the point */
}

.map-geographic {
    display: block;
}

.map-political {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    opacity:0.2;
}